/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Papyrus-Regular';
  src: url('../font/papyrusregular.eot');
  src: url('../font/papyrusregular.eot?#iefix') format('embedded-opentype'), url('../font/papyrusregular.woff') format('woff'), url('../font/papyrusregular.ttf') format('truetype'), url('../font/papyrusregular.svg#papyrusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  color: #222;
  background: #222222;
  /*margin: 0;*/

}
div#page.container-fluid {
  padding: 0;
  margin: 10px;
  position: relative;
}
div#page.container-fluid div#game-board-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #111;
}
div#page.container-fluid div#game-board-container div#game-board {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: url('../../img/board.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.game-intro-view {
  background: url('../../img/blood_strike.png') no-repeat center center fixed;
}
section.game-intro-view h1.main-title {
  margin: 0;
  font-family: 'Papyrus-Regular';
  font-size: 4.286em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0em 0em 0.071em rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0em, offy=0em);
}
section.game-intro-view div.control-gestures {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
section.game-intro-view div.control-gestures img {
  height: 200px;
  width: 200px;
  margin: 0 30px;
}
section.game-intro-view div.control-info {
  padding: 30px 0;
  text-align: center;
  font-family: 'Papyrus-Regular';
  line-height: 1.429em;
  font-size: 1.286em;
  text-shadow: 0em 0em 0.071em rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0em, offy=0em);
}
section.game-intro-view div.control-info span.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #9e0b0f;
  text-shadow: 0em 0em 0em rgba(0, 0, 0, 0);
  filter: dropshadow(color=rgba(0, 0, 0, 0), offx=0em, offy=0em);
}
section.game-board-view {
  height: 100%;
  position: relative;
}
section.game-board-view div.game-status-container {
  font-family: 'Papyrus-Regular';
  font-size: 3.143em;
  line-height: 1.429em;
  text-shadow: 0em 0em 0.071em rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0em, offy=0em);
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
section.game-board-view div.player {
  height: 200px;
  width: 200px;
  border: 1px solid #111;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
}
section.game-board-view div.player.player-class1 {
  background-image: url('../../img/avatar/av-class1.png');
  background-size: cover;
}
section.game-board-view div.player h3.player-name {
  margin: 0;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
section.game-board-view div.player.player-0 {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
}
section.game-board-view div.player.player-0.moved {
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 143, 42, 0.8);
  -moz-box-shadow: 0px 0px 7px 4px rgba(0, 143, 42, 0.8);
  box-shadow: 0px 0px 7px 4px rgba(0, 143, 42, 0.8);
}
section.game-board-view div.player.player-1 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
}
section.game-board-view div.player.player-1.moved {
  -webkit-box-shadow: 0px 0px 7px 4px rgba(255, 23, 19, 0.7);
  -moz-box-shadow: 0px 0px 7px 4px rgba(255, 23, 19, 0.7);
  box-shadow: 0px 0px 7px 4px rgba(255, 23, 19, 0.7);
}
section.game-board-view div.player.player-2 {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -100px;
}
section.game-board-view div.player.player-2.moved {
  -webkit-box-shadow: 0px 0px 7px 4px rgba(255, 121, 41, 0.7);
  -moz-box-shadow: 0px 0px 7px 4px rgba(255, 121, 41, 0.7);
  box-shadow: 0px 0px 7px 4px rgba(255, 121, 41, 0.7);
}
section.game-board-view div.player.player-3 {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -100px;
}
section.game-board-view div.player.player-3.moved {
  -webkit-box-shadow: 0px 0px 7px 4px rgba(27, 57, 245, 0.7);
  -moz-box-shadow: 0px 0px 7px 4px rgba(27, 57, 245, 0.7);
  box-shadow: 0px 0px 7px 4px rgba(27, 57, 245, 0.7);
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
