* { outline: none; }

@font-face {
    font-family: 'Papyrus-Regular';
    src: url('../font/papyrusregular.eot');
    src: url('../font/papyrusregular.eot?#iefix') format('embedded-opentype'),
        url('../font/papyrusregular.woff') format('woff'),
        url('../font/papyrusregular.ttf') format('truetype'),
        url('../font/papyrusregular.svg#papyrusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  height: 100%;
}
body {
  color: #222;
  background: #222222;
  /*margin: 0;*/
}

div#page.container-fluid {
    padding: 0;
    margin: 10px;
    position: relative;
}

div#game-board-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #111;
}

div#game-board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background: url(../img/board.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section.game-intro {

}

.game-intro h1.main-title {
    font-family:'Papyrus-Regular';
    font-size: 4.286em;
    text-align: center;
    text-transform: uppercase;

}