/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: 'Papyrus-Regular';
  src: url('../font/papyrusregular.eot');
  src: url('../font/papyrusregular.eot?#iefix') format('embedded-opentype'), url('../font/papyrusregular.woff') format('woff'), url('../font/papyrusregular.ttf') format('truetype'), url('../font/papyrusregular.svg#papyrusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  color: #222;
  background: #222222;
  /*margin: 0;*/

}
div#page.container-fluid {
  padding: 0;
  position: relative;
}
div#page.container-fluid div#game-controller-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #111;
}
div#page.container-fluid div#game-controller-container div#game-controller {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: url('../../img/board.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.game-controller h1.main-title {
  font-family: 'Papyrus-Regular';
  font-size: 1.500em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0em 0em 0.071em rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offx=0em, offy=0em);
}
section.game-controller div.game-controller-intro {
  text-align: center;
}
section.game-controller div.game-controller-intro form.player-form div.form-buttons button {
  margin-bottom: 10px;
}
/* Large desktop */
@media (min-width: 1200px) {
  
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  
}
