<section class="game-intro-view" ng-controller="GameMenuCtrl">
  <h1 class="main-title">Fingers of Fury</h1>

  <div class="control-gestures">
    <img src="/img/rock.png" />
    <img src="/img/paper.png" />
    <img src="/img/scissors.png" />
  </div>

  <div class="control-info">
    <strong>Join on your iPhone by visiting:<br/><span class="link">{{game.table.url}}</span></strong>
  </div>



</section>

<script>
  (function() {
    console.log('test');
    $window = $(window);

    $section = $('section.game-intro-view');

    var alignIntro = function() {
      var winHeight = $window.height();
      var introHeight = $section.height();

      if (winHeight > 0 && (winHeight - introHeight) > 0) {
        $section.css('position', 'relative');
        $section.css('top', function() {
          return ((winHeight / 2) - (introHeight / 2)) + 'px';
        });
      }
    };

    $window.resize(alignIntro);
    // $window.load(alignIntro);
    alignIntro();

    var $mediaIntro = $('<audio id="introMusic"></audio>');
    $mediaIntro.append('<source src="/assets/sounds/bgm-theme-loop.ogg" type="audio/ogg" />');
    $mediaIntro.append('<source src="/assets/sounds/bgm-theme-loop.mp3" type="audio/mpeg" />');
    $mediaIntro.append('Your browser does not support the audio tag.');

    //need to find a better way to do this instead of adding stuff to window
    window.meIntroMusic = new MediaElement($mediaIntro.get(0), {
      startVolume: 1,
      success: function (mediaElement, domObject) {  
        // add event listener
        mediaElement.addEventListener('ended', function(e) {
            mediaElement.play();
        }, false);
         
        mediaElement.play();
          
      },
      // fires when a problem is detected
      error: function () { 
       
      }
    });
    
  }());

</script>