<section class="game-board-view" ng-controller="GameBoardCtrl">

  <div class="game-status-container" table-info>
    <div class="table-info">
      <div ng-hide="shouldDisplayInfo()" class="table-waiting">Waiting for other warriors...</div>

      <div ng-show="shouldDisplayInfo()" class="table-round">Round: {{roundDisplay()}}</div>
      <div ng-show="shouldDisplayInfo()" class="table-action"></div>
      <div ng-show="shouldDisplayInfo()" class="table-choose">Choose your technique!</div>
      <div ng-show="debug" class="table-session">Session: {{game.table.session}}</div>
      <div ng-show="shouldDisplayInfo()" class="table-move"></div>
    </div>

  </div>

  <div ng-repeat="player in game.players | orderBy:game.playerOrderPredicate">
    <div class="player player-{{$index}} player-class1" player-info ng-class="{'moved': playerMoved(player)}">
      <h3 class="player-name">{{player.name}}</h3>

    </div>
  </div>

</section>

<script>
  (function() {
    $window = $(window);
    // console.log();

    // console.log('test');

    //stop the intro music
    if (window.meIntroMusic) {
      console.log("does this run?");
      window.meIntroMusic.pause();
    }


      var $mediaRounds = $('<audio id="introMusic"></audio>');
      $mediaRounds.append('<source src="/assets/sounds/bgm-in-turn.ogg" type="audio/ogg" />');
      $mediaRounds.append('<source src="/assets/sounds/bgm-in-turn.mp3" type="audio/mpeg" />');
      $mediaRounds.append('Your browser does not support the audio tag.');

      //need to find a better way to do this instead of adding stuff to window
      window.meTurnMusic = new MediaElement($mediaRounds.get(0), {
        startVolume: 1,
        success: function (mediaElement, domObject) {  
          // add event listener
          mediaElement.addEventListener('ended', function(e) {
              mediaElement.play();
          }, false);
           
          mediaElement.play();
            
        },
        // fires when a problem is detected
        error: function () { 
         
        }
      });
    

    
  }());

</script>