<section class="game-board-view" ng-controller="GameBoardCtrl">

  <div class="game-status-container" table-info>
    <div class="table-round-info" ng-show="game.round.active">
      <div ng-hide="displayRoundInfo()" class="table-waiting">Waiting for other warriors...</div>

      <div ng-show="displayRoundInfo()" class="table-round">Round: {{roundDisplay()}}</div>
      <div ng-show="displayRoundInfo()" class="table-action"></div>
      <div ng-show="displayRoundInfo()" class="table-choose">Choose your technique!</div>
      <div ng-show="debug" class="table-session">Session: {{game.table.session}}</div>
      <div ng-show="displayRoundInfo()" class="table-move"></div>
    </div>

    <div class="table-judgement-info" ng-show="game.judgement.active">
      <div ng-show="displayJudgementInfo()" class="table-results" ng-bind-html-unsafe="game.judgement.message"></div>
      <div ng-show="debug" class="table-session">Session: {{game.table.session}}</div>
    </div>

  </div>

  <div ng-repeat="player in game.players | orderBy:game.playerOrderPredicate">
    <div class="player player-{{$index}} player-class1" player-info ng-class="{'moved': playerMoved(player)}">
      <h3 class="player-name">{{player.name}}</h3>

    </div>
  </div>

</section>

<script>
  (function() {
    $window = $(window);
    // console.log();

    // console.log('test');

    
  }());

</script>