@font-face {
  font-family: 'Papyrus-Regular';
  src: url('../font/papyrusregular.eot');
  src: url('../font/papyrusregular.eot?#iefix') format('embedded-opentype'), url('../font/papyrusregular.woff') format('woff'), url('../font/papyrusregular.ttf') format('truetype'), url('../font/papyrusregular.svg#papyrusregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'wonton';
  src: url('../font/wonton-webfont.eot');
  src: url('../font/wonton-webfont.eot?#iefix') format('embedded-opentype'), url('../font/wonton-webfont.woff') format('woff'), url('../font/wonton-webfont.ttf') format('truetype'), url('../font/wonton-webfont.svg#wonton') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GinkoRegular';
  src: url('../font/ginko.eot');
  src: url('../font/ginko.eot?#iefix') format('embedded-opentype'), url('../font/ginko.woff') format('woff'), url('../font/ginko.ttf') format('truetype'), url('../font/ginko.svg#GinkoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
